body {
  background-image: linear-gradient(#43cea2, #185a9d);
  background-repeat: no-repeat;
  color: #fff;
  font-family: monospace;
  margin: 50px;
}

.flex {
  display: flex;
  /* align-items: center; */
  justify-content: left;
}

.vertical {
  flex-direction: column;
}

a {
  color: #fff;
}

p, li {
  font-size: large;
}

h2 {
  color: black;
}

#personal {
  gap: 20px;
}


#about {
  width: 80%;
  text-justify: auto;
}